<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @config.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @config.title %>
</p>

<p>
  <strong>Value:</strong>
  <%= @config.value %>
</p>

<%= link_to 'Edit', edit_config_path(@config) %> |
<%= link_to 'Back', configs_path %>
